<div class="Border margin-top">
    <div class="Border">
        <div class="Border">
            <div class="Border">
                <div class="Border">
                    <div class="Border">
                        <div class="Border">
                            <div class="Border">
                            <div class="text-center rotate">
                                A Floating Banner Keeps on rotating!!
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>