<mat-toolbar color="primary" class="navbar">
  <button  mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}>
   Home
  </button>
  

  <button mat-button routerLink="floating-banner" routerLinkActive="active">
   Floating Banner
  </button>
  <button mat-button routerLink="e-commerce" routerLinkActive="active" >
 E-commerce
  </button>
  <button mat-button routerLink="sibling-timer" routerLinkActive="active">
    Sibling Timer
     </button>
     <button mat-button routerLink="service-timer" routerLinkActive="active">
      Service Timer
       </button>
       <button mat-button routerLink="student" routerLinkActive="active">
      Student Marks
         </button>
         <button mat-button routerLink="dynamic-div" routerLinkActive="active">
         Dynamic Div
             </button>
</mat-toolbar>
<router-outlet></router-outlet>
